*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color:white;
}
body{
  height: 100vh;
  background: linear-gradient(black, red);
}
.nav-items{
  display: flex;
  justify-content: flex-end;
  border: 1px solid red;
  padding: 8px;
  
}
li{
  margin-left: 20px;
}
li:hover{
  font-size: larger;
  background-color: red;
  
}
.item-1{
  margin-right: auto;
  font-weight: bolder;
}
.profile-img{
  width: 200px;
  border-radius: 400px;
}
.hero{
  display: flex;
  border: 2px solid red;
  justify-content: flex-end;
  padding: 20px;
}
.info{
  margin-top: 80px;
  text-shadow: 1px 1px 1px black;
  margin-right: auto;
}
.nerd{
  color: rgb(63, 153, 51);
}