.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.btn{
    padding: 0.7rem 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid red;
    outline: 1px solid red;
    cursor: pointer;
   
}
.btn-secondary{
    background-color: var(--secondary);
    color: white;
    transition: all 0.3 ease;
    border-radius: 10px;

    text-decoration: none;
}
.btn-secondary:hover{
    background-color: var(--fourth);
    color: white;
    transition: all 0.3 ease;
}
.btn-primary{
    background: var(--fourth);
    color: white;

}
.btn-primary:hover{
    background: var(--secondary);
    transition: all 0.3 ease;

    
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}
