.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.btn{
    padding: 0.7rem 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid transparent;
    cursor: pointer;
   
}
.btn-primary{
    background: var(--secondary);
    color: white;
    transition: all 0.3 ease;
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--secondary);
    color: var(--fourth);
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}